#map {
    height: 800px;
    width: 100%;
    z-index: 0;
}

#autocomplete-container {
    padding: 16px;
    position: absolute;
    left: 240px;
    top: 16px;
    z-index: 1;
    background-color: white;
}

#autocomplete-input {
    padding: 8px;
    width: 320px;
    height: 16px;
    display: inline-block; 
}

#comment-input {
    padding: 8px;
    width: 560px;
    height: 17px;
    display: inline-block; 
}

h4 {
    margin-top: 0;
    margin-bottom: 8px;
}

.container{
    display: inline-block;
}

#place-comment {
    margin-left: 16px;
}